body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: -webkit-radial-gradient(top, #ede58c, #acd8da);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- Heder ---*/

header {
    width: 960px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

/*--- Botonera ---*/

#botonera_principal {
    width: 400px;
    height: 70px;
    float:left;
}

#botonera_principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#botonera_principal ul li {
    display: inline;
}

#botonera_principal ul li a {
    display: inline-block;
    padding: 10px;
    background-color: #935430;
    color: #FFF;
    font-weight: bold;
    text-decoration:none ;
}

#botonera_principal ul li a:hover {
    background-color:#ea0303;
    color: #000; 
}

/*--- Contenidos ---*/
/*--- Letras, Imagenes, Titulos, Textos, Etc. ---*/

p {
    font-size: 14px;
}

#marca {
    width: 220px;
    height: 70px;
    float: right;
}

#contenido_principal {
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#imagen1 {
    width: 350px;
    height: 300px;
    float: left;
    margin-bottom: 10px;
    background-image: url(../img/Fondo.jpg);
    background-size: cover;
}

img { 
    max-width: 100%;  
}

#presentacion {
    width: 600px;
    height: 300px;
    background-color: #e7d5a5;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

h2 {
    font-size: 4rem;
}

#contenido_articulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#texto_contenido {
    width: 250px;
    height: 300px;
    background-color: #e7d5a5;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#contenido_segundo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

#imagen2 {
    width: 440px;
    height: 300px;
    float: left;
    margin-bottom: 10px;
    background-image: url(../img/antes.jpg);
    background-size: cover;
}

#destacado {
    width: 250px;
    height: 300px;
    float: right;
    margin-bottom: 10px;
    background-color: #bba669;
    padding: 10px;
    box-sizing: border-box;
}

#contenido_destacado {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#complementario {
    width: 960px;
    height: 180px;
    clear: both;
}

#imagen_aside {
    width: 960px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#datos {
    width: 300px;
    height: 180px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/*--- Footer ---*/

footer {
    width: 960px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #000;
    color: #FFF;
}

footer .footer-content {
    background: -webkit-radial-gradient(top, #ede58c, #acd8da);
    color: rgb(41, 30, 190);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

footer .footer-content .footer-info h3 {
    margin-bottom: .4rem;
}

footer .footer-content .footer-info ul li {
    margin-bottom: .5rem;
}

footer .footer-content a:link,
footer .footer-content a:visited {
    color: rgb(6, 1, 1);
}

footer .footer-content a:hover {
    text-decoration: underline;
    text-underline-offset: .4rem;
}

footer .footer-content .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}

footer .footer-content .footer-info .left-column {
    flex: 1; 
    display: flex;
    flex-direction: row;
}

footer .footer-content .footer-info .left-column .contact {
    margin-left: 5rem;
}

footer .footer-content .footer-info .right-column {
    flex: 1;
}

footer .footer-content .footer-info .newsletter {
    padding-left: 13rem;
    font-family: 'Work Sans', sans-serif;
}

footer .footer-content .footer-info .newsletter form {
    display: flex;
    flex-direction: row;
    position: relative;
}

footer .footer-content .footer-info .newsletter input {
    border-radius: 1rem;
    padding: .5rem;
    color: white;
}

footer .footer-content .footer-info .newsletter .newsletter-email {
    width: 100%;
    background-color: transparent;
    border: .1rem solid white;
}

footer .footer-content .footer-info .newsletter .newsletter-email::placeholder {
    color: white;
}

footer .footer-content .footer-info .newsletter .newsletter-email:focus {
    outline: none;
}

footer .footer-content .footer-info .newsletter-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

footer .footer-content .footer-info .newsletter .rrss {
    padding-top: 1rem;
}

footer .footer-content .footer-info .newsletter a {
    padding-right: 1rem;
}

footer .footer-content .footer-info .newsletter img {
    width: 2rem;
    height: auto;
}

/*--- Botonera Footer--*/

#botonera_footer {
    width: 400px;
    height: 40px;
    float: right;
    margin-top: 20px;
}

#botonera_footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#botonera_footer ul li {
    display: inline;
}

#botonera_footer ul li a {
    display: inline-block;
    padding: 10px;
    background-color: #935430;
    color: #FFF;
    font-weight: bold;
    text-decoration:none ;
}

#botonera_footer ul li a:hover {
    background-color:#ea0303;
    color: #000; 
}



/*--- Legales Footer--*/

footer .footer-legal {
    background-color: rgba(17, 3, 3, 0);
    color: #000;
    height: 3.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: .7rem;
}

footer .footer-legal .claim-link a {
    text-decoration: underline;
}

footer .footer-legal .claim-link a:visited {
    color: #1165EB;
}

footer .footer-legal .claim-link a:hover {
    color: #78A9F8;
}


